* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e2eaf5;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container > img {
  margin-right: 20px;
}

/* Showcase */
.showcase-cantainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}

.showcase-cantainer .showcase-text > h2:first-child {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-cantainer .showcase-text > h2:last-child {
  font-size: 5.313rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-cantainer .showcase-text > p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #9aa0a8;
  margin-bottom: 15px;
}

/* Utility classes */
.custom-input {
  border: none;
  border-radius: 15px;
  background-color: #fdfffe;
  color: #232323;
  padding: 16px;
  width: 100%;
}

.custom-input:focus {
  outline: 2px solid #23aaff;
}

.custom-input::placeholder {
  color: #b1b8c0;
}
