* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e2eaf5;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
  grid-gap: 100px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container > img {
  margin-right: 20px;
}

/* Showcase */
.showcase-cantainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}

.showcase-cantainer .showcase-text > h2:first-child {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-cantainer .showcase-text > h2:last-child {
  font-size: 5.313rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-cantainer .showcase-text > p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #9aa0a8;
  margin-bottom: 15px;
}

/* Previsao por Hora */
.hourly-forecast-container {
  border-radius: 40px;
  padding: 40px;
  background: linear-gradient(90.28deg, #007dfe 0.22%, #3aa2ff 99.76%);
  box-shadow: 0px 30px 50px -19px rgba(1, 126, 254, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourly-forecast-container .hour-weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-forecast-container .hour-weather-item:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.hourly-forecast-container .hour-weather-item > img {
  height: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.hourly-forecast-container .hour-weather-item > p:first-child {
  color: white;
  opacity: 75%;
  font-weight: 500;
}

.hourly-forecast-container .hour-weather-item > p:last-child {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

/* Previsao Detalhada */

.weather-details-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 15px;
}

.weather-details-container .weather-detail-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  padding: 30px;
}

.weather-details-container .weather-detail-item > p:first-child {
  color: #8f8f8f;
}

.weather-details-container .weather-detail-item > div {
  display: flex;
  align-items: center;
}

.weather-details-container .weather-detail-item > div > p > span {
  font-size: 0.75rem;
  margin-left: -5px;
}

.weather-details-container .weather-detail-item > div > img {
  height: 35px;
  width: 35px;
}

.weather-details-container .weather-detail-item > div > p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a394f;
  margin-left: 4px;
}

.weather-details-container .weather-detail-item:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* Previsao Semanal */
.weekly-forecast-container {
  background: #fff;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.weekly-forecast-container .day-weather-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-forecast-container .day-weather-item > p,
.weekly-forecast-container .day-weather-item > img,
.weekly-forecast-container .day-weather-item > div {
  flex: 1;
}

.weekly-forecast-container .day-weather-item > p {
  font-weight: 500;
  color: #8f8f8f;
}

.weekly-forecast-container .day-weather-item > div {
  display: flex;
  align-items: center;
}
.weekly-forecast-container .day-weather-item > div > p:first-child {
  font-weight: 500;
  color: #2a394f;
  margin-right: 8px;
}

.weekly-forecast-container .day-weather-item > div > p:last-child {
  font-weight: 500;
  color: #8f8f8f;
}
.weekly-forecast-container .day-weather-item > img {
  height: 60px;
  width: 60px;
}

/* Utility classes */
.custom-input {
  border: none;
  border-radius: 15px;
  background-color: #fdfffe;
  color: #232323;
  padding: 16px;
  width: 100%;
}

.custom-input:focus {
  outline: 2px solid #23aaff;
}

.custom-input::placeholder {
  color: #b1b8c0;
}
